.filters {
  border-radius: 10px;
  border: 1px solid #121212;
  margin: 4em auto 4em auto;
  padding: 0 10px 10px 10px;
  max-width: 320px;
  text-align: center;

  & h2 {
    margin: 5px 0;
  }

  & > * {
    margin-bottom: 10px;
  }
}

.toPrint {
  margin: 0 auto;
  border: 1px solid #121212;
  overflow: hidden;

  &.A4 {
    max-width: 21cm;
    max-height: 29.7cm;

    &.landscape {
      width: 29.7cm;
      height: 21cm;
    }
  }

  & .top {
    text-align: center;
    margin-top: 5em;
  }

  & .table {
    background-color: #fff;
    border-collapse: collapse;
    width: 93%;
    table-layout: fixed;
    margin: 0 27px 150px;

    & thead td {
      border: 1px solid black;
      text-align: center;
      font-weight: bold;
    }

    & tbody td {
      border: 1px solid black;
      height: 7em;

      & .wrapper {
        height: 100%;

        & .day {
          text-align: right;
          margin-right: 5px;
        }
      }
    }
  }

  & .divider {
    margin: 0 30px 3em 30px;
    border-bottom: 1px solid black;
  }
}

